
.boader {
  position: absolute;
  height: 4vw;
  top:0vw;
  width: 100vw;
  left: 0vw;
  background-color:#ffd4d4be;
 
}
.shop {
  position: absolute;
  top: 0.5vw;
  left: 68.6vw;
  font-size: 1.20vw;
  font-style: dosis;
  color: rgb(0, 0, 0); 
  text-align: justify;
  width: 5vw;
  padding: 1vw;
  border-radius: 1vw;
  z-index: 2;
}
.shop:hover
{
  background-color: rgba(255, 192, 203, 0.274);
  padding: 1vw;
  border-radius: 1vw;
}
.search {
  position: absolute;
  top: 1.3vw;
  left: 73vw;
  size: -5vw;
  width: 1.5vw;
  z-index: 1;
}
.marble {
  position: absolute;
  top: 4vw;
  left: 0vw;
  height: 15vw;
  width: 100vw;
}
.trans {
  position: absolute;
  top: 4vw;
  height: 15vw;
  width: 50vw;
  left: 25vw;
  background-color:rgba(15, 15, 15, 0.432);
}
.about {
  position: absolute;
  top: 9vw;
  left: 32vw;
  font-size:5vw;
  font-style: charm;
  color: rgb(255, 255, 255); 
  text-align: justify;
}
.tagline {
      position: absolute;
      top: 15vw;
      left:33vw;
      font-size: 1.5vw;
      font-style: Dela Gothic One;
      color: white;
}

.vision {
  position: absolute;
  top: 30vw;
  left: 43vw;
  height: 18vw;
  width: 15vw;
}
.mission {
  position: absolute;
  top: 30vw;
  left: 72vw;
  height: 18vw;
  width: 15vw;
}
.Habc {
  position: absolute;
  top: 45.5vw;
  left:16.5vw;
  font-size: 2vw;
  font-style: dosis;
  color: rgb(255, 255, 255);
}
.Vabc {
  position: absolute;
  top:45.5vw;
  left:47.6vw;
  font-size: 2vw;
  font-style: dosis;
  color: rgb(255, 255, 255);
}
.Mabc {
  position: absolute;
  top: 45.5vw;
  left:76.4vw;
  font-size: 2vw;
  font-style: dosis;
  color: rgb(255, 255, 255);
}

.home {
  position: absolute;
  top: 0.8vw;
  left: 6vw;
  width: 2.5vw;
}
.home:hover
{
  background-color: pink;
  border-radius: 1vw;
}

.image-container {
  position: relative;
  display: inline-block;
}

.vision {
  position: relative;
  transition: opacity 0.3s ease-in-out;
}

.vision::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2; /* Adjust the opacity value as desired */
  transition: opacity 0.3s ease-in-out;
}

.image-container:hover .vision {
  opacity: 0.8; /* Adjust the opacity value as desired */
}

.image-container:hover .vision::before {
  opacity: 0.5; /* Adjust the opacity value as desired */
}


.fb {
position: absolute;
top: 20vw;
left:29vw;
width: 3vw;
}
.IG {
position: absolute;
top: 20vw;
left:39vw;
width: 3vw;
}
.tik {
position: absolute;
top: 20vw;
left:49vw;
width: 3vw;
}
.twit {
position: absolute;
top: 20vw;
left:59vw;
width: 3vw;
}
.yt {
position: absolute;
top: 20vw;
left:69vw;
width: 3vw;
}
/*hover*/
.fb:hover, .IG:hover, .tik:hover, .twit:hover, .yt:hover
 {

  background-color: pink;
  border-radius: 1vw;
}
/*log*/

.line1
{
position:absolute;
height: 0.1vw;
width: 99vw;
left: 0.5vw;
top: 23vw;
background-color: #ffd4d4be;
border-color: rgba(255, 255, 255, 0);
border-radius: 1vw;

}

.history {
  position: absolute;
  top: 31vw;
  left: 13vw;
  height: 18vw;
  width: 15vw;
}
.history, .vision, .mission {
  --s: 15vw;   /* the size of the image */
  --b: 1vw;     /* the border thickness*/
  --g: 1vw;    /* the gap */
  --c: #ffbebebe; /* the color */
  
  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s)/2) solid #0009;
  outline-offset: calc(var(--s)/-2);
  cursor: pointer;
  transition: 0.3s;
}
.history:hover,.vision:hover,.mission:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}

.history + .history {
  border-radius: 0vw;
}

.vision + .vision {
  border-radius: 0vw;
}

.mission + .mission {
  border-radius: 0vw;
}

/*TESTING*/

.section-heading {
  position: absolute;
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 2vw;
  color: #030303;
  margin: 0 0 70px;
  top: 0vw;
  left:47vw;
}

.container {
  display: flex;
  justify-content: center;
  width: 40vw;
  max-width: 20vw;
  margin: 0 auto;
}

.profile {
  position: absolute;
  transition: all 0.3s;
  top: 2vw;
  left: 43.5vw;
}
.profile1 {
  position: absolute;
  transition: all 0.3s;
  top: 2vw;
  left: 53vw;
}
.profile2 {
  position: absolute;
  transition: all 0.3s;
  top: 2vw;
  left: 49vw;
}

.profile:hover, .profile1:hover, .profile2:hover {
  transform: translateY(25px);
}

.profile img, .profile1 img, .profile2 img {
  max-width: 5vw;
  border-radius: 20vw;
  border: 0.3vw solid #f7f7f7;
  filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
  cursor: pointer;
}

.profile:not(:first-child) img, .profile1:not(:first-child) img, .profile2:not(:first-child) img {
  margin-left: -20px;
}

.profile .name, .profile1 .name1, .profile2 .name2 {
  position: absolute;
  background-color: #10996d;
  color: #fff;
  left: 2vw;
  font-family: "Bebas Neue", cursive;
  padding: 1vw 1vw;
  border-radius: 2vw;
  bottom: -4vw;
  white-space: nowrap;
  transform: translate(-50%, -50px);
  letter-spacing: 1px;
  font-size: 1vw;
  opacity: 0;
  transition: all 0.3s;
}


.profile img:hover + .name,.profile1 img:hover + .name1,.profile2 img:hover + .name2 {
  opacity: 1;
  transform: translateX(-50%);
  box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
}