body{

    background-color: #f1f1f1;
}
 /*Logo ni dri*/
  
 .s-cakes-logo-1 {
    position: absolute;
    top: 5866px;
    left: 0;
    width: 920px;
    height: 446px;
    z-index: 1;
  }
  .s-cakes-logo-1 {
    top: -22px;
    left: 540px;
    width: 246px;
    height: 157px;
    object-fit: cover;
  }
  /*Background ni dri*/         

.FindUsBackground {
    z-index: 2;
   }
   .FindUsBackground {
   height: 265px;
   width: 101.2%;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin-top: -8px;
   margin-left: -8px;
   }