body{

    background-color: #f1f1f1;
}
 /*Logo ni dri*/
  
 .s-cakes-logo-1 {
    position: absolute;
    top: 5866px;
    left: 0;
    width: 920px;
    height: 446px;
    z-index: 1;
  }
  .s-cakes-logo-1 {
    top: 30px;
    left: 540px;
    width: 156px;
    height: 86px;
   
  }
  /*Background ni dri Upper*/         

.FindUsBackground {
    z-index: 2;
   }
   .FindUsBackground {
   height: 235px;
   width: 100%;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;

   
   }

.Pline1
{position: absolute;
    top: 40px;
    left: -10px;
    width: 1287px;
    height: 76px;
    z-index: 1;
    background-color: #ffffff;

}