/* Default styles */

body {
  background-color: #f1f1f1;
  margin: 0;
}

.rectangle {
  position: absolute;
  width: 100%;
  height: 13%;
  left: 0%;
  background-color: rgba(255, 211, 240, 0.8);

}

.promo2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 4%;
  left: 22%;
  width: 10%;
  height: 5%;
  font-size: 1.2rem;
}

.promo2 {
  top: 1.8vw;
  left: 9vw;
  line-height: 26%;
  font-family: var(--font-gupter);
  color: #161616;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.customize-us1 {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 26%;
  font-family: var(--font-gupter);
  color: #000000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.customize-us {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 4%;
  left: 22%;
  width: 10%;
  height: 5%;
  font-size: 1.2rem;
}

.s-cakes-logo-1 {
  position: absolute;
  z-index: 1;
}

.s-cakes-logo-1 {
  top: -2%;
  left: 42%;
  width: 11%;
  height: 16%;
  object-fit:fill;
}

.est-2013 {
  position: absolute;
}

.est-2013 {
  top: 3%;
  left: 50.5%;
  font-size: 0.5rem;
  line-height: 26px;
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 2.5rem;
}

.Findus {
  z-index: 1;
}

.Findus {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 4%;
  left: 65%;
  width: 10%;
  height: 5%;
  font-size: 1.2rem;
}

.aboutuus {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 4%;
  left: 78%;
  width: 10%;
  height: 5%;
  font-size: 1.2rem;
}
/*CakeCategories*/
.TitleBG {
  position: absolute;
  z-index: -1;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 75%;
  object-fit:fill;
}
/*CakeTitle*/
.CAKES {
  position: absolute;
  top: 44%;
  left: 6%;
  font-size: 5vw;
  font-family: Cormorant;
  color: #ffffff
}
/*CakeInfo*/
.CAKESInfo {
  position: absolute;
  top: 57%;
  left: 6%;
  width: 80%;
  font-size: 1.4vw;
  font-family: Cormorant;
  text-align: justify;
  color: #ffffff
}
.cake1{
  position: absolute;
  top: 82%;
  left: 3%;
  width: 15%;
  height: 50%;
}
.CakeName1{
  position: absolute;
  top: 135%;
  left: 6%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.cakeprice1 {
  position: absolute;
  top: 137%;
  left: 6%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b1
{
  color:red;
  font-size: 3vw;
}
.cake2{
  position: absolute;
  top: 82%;
  left: 23%;
  width: 15%;
  height: 50%;
}
.CakeName2{
  position: absolute;
  top: 135%;
  left: 26%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.cakeprice2 {
  position: absolute;
  top: 137%;
  left: 26%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b2
{
  color:red;
  font-size: 3vw;
}
.cake3{
  position: absolute;
  top: 82%;
  left: 43%;
  width: 15%;
  height: 50%;
}
.CakeName3{
  position: absolute;
  top: 135%;
  left: 46%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.cakeprice3 {
  position: absolute;
  top: 137%;
  left: 46%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b3
{
  color:red;
  font-size: 3vw;
}
.cake4{
  position: absolute;
  top: 82%;
  left: 63%;
  width: 15%;
  height: 50%;
}
.CakeName4{
  position: absolute;
  top: 135%;
  left: 66%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.cakeprice4 {
  position: absolute;
  top: 137%;
  left: 66%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b4
{
  color:red;
  font-size: 3vw;
}
.cake5{
  position: absolute;
  top: 82%;
  left: 83%;
  width: 15%;
  height: 50%;
}
.CakeName5{
  position: absolute;
  top: 135%;
  left: 86%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.cakeprice5 {
  position: absolute;
  top: 137%;
  left: 86%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b5
{
  color:red;
  font-size: 3vw;
}
.cake6{
  position: absolute;
  top: 150%;
  left: 3%;
  width: 15%;
  height: 50%;
}
.CakeName6{
  position: absolute;
  top: 202%;
  left: 6%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.cakeprice6 {
  position: absolute;
  top: 204%;
  left: 6%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b6
{
  color:red;
  font-size: 3vw;
}
.cake7{
  position: absolute;
  top: 150%;
  left: 23%;
  width: 15%;
  height: 50%;
}
.CakeName7{
  position: absolute;
  top: 202%;
  left: 26%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.cakeprice7 {
  position: absolute;
  top: 204%;
  left: 26%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b7
{
  color:red;
  font-size: 3vw;
}
.cake8{
  position: absolute;
  top: 150%;
  left: 43%;
  width: 15%;
  height: 50%;
}
.CakeName8{
  position: absolute;
  top: 202%;
  left: 46%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.cakeprice8 {
  position: absolute;
  top: 204%;
  left: 46%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b8
{
  color:red;
  font-size: 3vw;
}
.cake9{
  position: absolute;
  top: 150%;
  left: 63%;
  width: 15%;
  height: 50%;
}
.CakeName9{
  position: absolute;
  top: 202%;
  left: 66%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.cakeprice9 {
  position: absolute;
  top: 204%;
  left: 66%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b9
{
  color:red;
  font-size: 3vw;
}
.cake10{
  position: absolute;
  top: 150%;
  left: 83%;
  width: 15%;
  height: 50%;
}
.CakeName10{
  position: absolute;
  top: 202%;
  left: 86%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.cakeprice10 {
  position: absolute;
  top: 204%;
  left: 86%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b10
{
  color:red;
  font-size: 3vw;
}
/*Bread Categories*/
.BreadBG {
  position: absolute;
  z-index: -1;
  top: 230%;
  left: 0%;
  width: 100%;
  height: 60%;
  object-fit:fill;
}
.BREAD {
  position: absolute;
  top: 260%;
  left: 6%;
  font-size: 5vw;
  font-family: Cormorant;
  color: #ffffff
}
/*Bread Info*/
.BREADInfo {
  position: absolute;
  top: 273%;
  left: 6%;
  width: 80%;
  font-size: 1.4vw;
  font-family: Cormorant;
  text-align: justify;
  color: #ffffff
}
.bread1{
  position: absolute;
  top: 303%;
  left: 3%;
  width: 15%;
  height: 50%;
}
.BreadName1{
  position: absolute;
  top: 355%;
  left: 6%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.breadprice1 {
  position: absolute;
  top: 357%;
  left: 6%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b1
{
  color:red;
  font-size: 3vw;
}
.bread2{
  position: absolute;
  top: 303%;
  left: 23%;
  width: 15%;
  height: 50%;
}
.BreadName2{
  position: absolute;
  top: 355%;
  left: 26%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.breadprice2 {
  position: absolute;
  top: 357%;
  left: 26%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b2
{
  color:red;
  font-size: 3vw;
}
.bread3{
  position: absolute;
  top: 303%;
  left: 43%;
  width: 15%;
  height: 50%;
}
.BreadName3{
  position: absolute;
  top: 355%;
  left: 46%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.breadprice3 {
  position: absolute;
  top: 357%;
  left: 46%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b3
{
  color:red;
  font-size: 3vw;
}
.bread4{
  position: absolute;
  top: 303%;
  left: 63%;
  width: 15%;
  height: 50%;
}
.BreadName4{
  position: absolute;
  top: 355%;
  left: 66%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.breadprice4 {
  position: absolute;
  top: 357%;
  left: 66%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b4
{
  color:red;
  font-size: 3vw;
}
.bread5{
  position: absolute;
  top: 303%;
  left: 83%;
  width: 15%;
  height: 50%;
}
.BreadName5{
  position: absolute;
  top: 355%;
  left: 86%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.breadprice5 {
  position: absolute;
  top: 357%;
  left: 86%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b5
{
  color:red;
  font-size: 3vw;
}
.bread6{
  position: absolute;
  top: 375%;
  left: 3%;
  width: 15%;
  height: 50%;
}
.BreadName6{
  position: absolute;
  top: 427%;
  left: 6%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.breadprice6 {
  position: absolute;
  top: 429%;
  left: 6%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b6
{
  color:red;
  font-size: 3vw;
}
.bread7{
  position: absolute;
  top: 375%;
  left: 23%;
  width: 15%;
  height: 50%;
}
.BreadName7{
  position: absolute;
  top: 427%;
  left: 26%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.breadprice7 {
  position: absolute;
  top: 429%;
  left: 26%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b7
{
  color:red;
  font-size: 3vw;
}
.bread8{
  position: absolute;
  top: 375%;
  left: 43%;
  width: 15%;
  height: 50%;
}
.BreadName8{
  position: absolute;
  top: 427%;
  left: 46%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.breadprice8 {
  position: absolute;
  top: 429%;
  left: 46%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b8
{
  color:red;
  font-size: 3vw;
}
.bread9{
  position: absolute;
  top: 375%;
  left: 63%;
  width: 15%;
  height: 50%;
}
.BreadName9{
  position: absolute;
  top: 427%;
  left: 66%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.breadprice9 {
  position: absolute;
  top: 429%;
  left: 66%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b9
{
  color:red;
  font-size: 3vw;
}
.bread10{
  position: absolute;
  top: 375%;
  left: 83%;
  width: 15%;
  height: 50%;
}
.BreadName10{
  position: absolute;
  top: 427%;
  left: 86%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.breadprice10 {
  position: absolute;
  top: 429%;
  left: 86%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b10
{
  color:red;
  font-size: 3vw;
}
/*Pastry Categories*/
.PastryBG {
  position: absolute;
  z-index: -1;
  top: 450%;
  left: 0%;
  width: 100%;
  height: 60%;
  object-fit:fill;
}
.PASTRY {
  position: absolute;
  top: 480%;
  left: 6%;
  font-size: 5vw;
  font-family: Cormorant;
  color: #ffffff
}
/*Bread Info*/
.PASTRYInfo {
  position: absolute;
  top: 493%;
  left: 6%;
  width: 60%;
  font-size: 1.4vw;
  font-family: Cormorant;
  text-align: justify;
  color: #ffffff
}
.pastry1{
  position: absolute;
  top: 522%;
  left: 3%;
  width: 15%;
  height: 50%;
}
.PastryName1{
  position: absolute;
  top: 575%;
  left: 6%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.pastryprice1 {
  position: absolute;
  top: 577%;
  left: 6%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b1
{
  color:red;
  font-size: 3vw;
}
.pastry2{
  position: absolute;
  top: 522%;
  left: 23%;
  width: 15%;
  height: 50%;
}
.PastryName2{
  position: absolute;
  top: 575%;
  left: 26%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.pastryprice2 {
  position: absolute;
  top: 577%;
  left: 26%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b2
{
  color:red;
  font-size: 3vw;
}
.pastry3{
  position: absolute;
  top: 522%;
  left: 43%;
  width: 15%;
  height: 50%;
}
.PastryName3{
  position: absolute;
  top: 575%;
  left: 46%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.pastryprice3 {
  position: absolute;
  top: 577%;
  left: 46%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b3
{
  color:red;
  font-size: 3vw;
}
.pastry4{
  position: absolute;
  top: 522%;
  left: 63%;
  width: 15%;
  height: 50%;
}
.PastryName4{
  position: absolute;
  top: 575%;
  left: 66%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.pastryprice4 {
  position: absolute;
  top: 577%;
  left: 66%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b4
{
  color:red;
  font-size: 3vw;
}
.pastry5{
  position: absolute;
  top: 522%;
  left: 83%;
  width: 15%;
  height: 50%;
}
.PastryName5{
  position: absolute;
  top: 575%;
  left: 86%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.pastryprice5 {
  position: absolute;
  top: 577%;
  left: 86%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b5
{
  color:red;
  font-size: 3vw;
}
.pastry6{
  position: absolute;
  top: 595%;
  left: 3%;
  width: 15%;
  height: 50%;
}
.PastryName6{
  position: absolute;
  top: 647%;
  left: 6%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.pastryprice6 {
  position: absolute;
  top: 649%;
  left: 6%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b6
{
  color:red;
  font-size: 3vw;
}
.pastry7{
  position: absolute;
  top: 595%;
  left: 23%;
  width: 15%;
  height: 50%;
}
.PastryName7{
  position: absolute;
  top: 647%;
  left: 26%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.pastryprice7 {
  position: absolute;
  top: 649%;
  left: 26%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b7
{
  color:red;
  font-size: 3vw;
}
.pastry8{
  position: absolute;
  top: 595%;
  left: 43%;
  width: 15%;
  height: 50%;
}
.PastryName8{
  position: absolute;
  top: 647%;
  left: 46%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.pastryprice8 {
  position: absolute;
  top: 649%;
  left: 46%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b8
{
  color:red;
  font-size: 3vw;
}
.pastry9{
  position: absolute;
  top: 595%;
  left: 63%;
  width: 15%;
  height: 50%;
}
.PastryName9{
  position: absolute;
  top: 647%;
  left: 66%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.pastryprice9 {
  position: absolute;
  top: 649%;
  left: 66%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b9
{
  color:red;
  font-size: 3vw;
}
.pastry10{
  position: absolute;
  top: 595%;
  left: 83%;
  width: 15%;
  height: 50%;
}
.PastryName10{
  position: absolute;
  top: 647%;
  left: 86%;
  font-size: 1.7vw;
  font-family: Cormorant;
  width: 15%;
  height: 50%;
}
.pastryprice10 {
  position: absolute;
  top: 649%;
  left: 86%;
  width: 80%;
  font-size: 2vw;
  font-family: Cormorant;
  color: #000000
}
.b10
{
  color:red;
  font-size: 3vw;
}