<<<<<<< HEAD

.cake-main {
  z-index: -3;
  position: absolute;
  height: 54.78vw;
  top: 0vw;
  left: 0vw;
  display: block;
  width: 100vw;
}
=======

.cake-main {
  z-index: -3;
  position: absolute;
  height: 54.78vw;
  top: 0vw;
  left: 0vw;
  display: block;
  width: 100vw;
}
>>>>>>> 9a4a920da7720cb08a5ac661e49389e00be875dc
