/* Default styles */

body {
  background-color: #f1f1f1;
  margin: 0;
}

.vector-icon {
  position: absolute;
  width: 100%;
  display: block;
  height: auto;
  top: 0%;
  left: 0;
}

.promo2:hover, .customize-us1:hover, .Findus:hover, .aboutuus:hover {
  background-color: #ff85f58a;
  border: 1px solid var(--color-black);
  border-radius: 6px;
}

.user-login {
  z-index: 1;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 5%;
  height: auto;

}

.user-login {

  top:0.7vw;
  left: 2vw;
  font-family: var(--font-gupter);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.promo2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 5%;
  height: auto;
}

.promo2 {
  top:2.5vw;
  left: 13vw;
  font-family: var(--font-gupter);
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.customize-us {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 6%;
  height: auto;
}

.customize-us {
  top:2.57vw;
  left: 24vw;
  font-family: var(--font-gupter);
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.s-cakes-logo-1 {
  position: absolute;
  z-index: 1;
}

.s-cakes-logo-1 {
  top: -1vw;
  left: 39vw;
  width: 17vw;
  height: auto;
  display: block;
}

.est-2013 {
  position: absolute;
}

.est-2013 {
  top: 4.5vw;
  left: 53vw;
  color: var(--color-black);
  display:block;
  align-items: center;
  justify-content: center;
  width: 4vw;
  height: auto;
}

.Findus {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 6%;
  height: auto;
}

.Findus {
  top:2.5vw;
  left: 65vw;
  font-family: var(--font-gupter);
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutuus {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 6%;
  height: auto;
}

.aboutuus
{
  top:2.5vw;
  left: 78vw;
  font-family: var(--font-gupter);
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cake-main {
  height: 60.9vw;
  max-width: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin-top: -6.5%;
  margin-left: -6%;
  margin-Right: 0%;
}

.cake-main {
  width: calc(100% + 8.1vw);
}


.tscakes {
  border: 0vw;
  padding: 0vw;
  background-color: transparent;
  position: absolute;
  width: 6vw;
  height: auto;
}

.tscakes {
  top:23vw;
  left: 47vw;
  font-family: var(--font-gupter);
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

    /*3variants*/
  
  
  /* cake bread title */
.cakes-bread {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 20%;
  height: auto;
}
.cakes-bread
{
  top:28.5vw;
  left: 40.5vw;
  font-family: var(--font-gupter);
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* order online button */
.Ordernow1
{
  position: absolute;
    cursor: pointer;
    top: 34.5vw;
    left: 44vw;
    color: rgba(255, 255, 255, 0.733);
    letter-spacing: 0.3vw;
    display: block;
    font-family: Dosis;
    height: auto;
    border: .2vw solid #ffffff;
    border-radius: 0.8vw;
    padding: 0.1vw;
}
.Ordernow1:hover
{
  background-color: #bbbbbb8a;
  color:white;
}

/* arrow */
.arrow-icon {
  position: absolute;
  top: 30vw;
  left: 96vw;
  display:block;
  transform: translate(-50%, -50%);
  width: 2vw;
  height: auto;
}

/* Cake Bread next slide */
.cake-bread {
  position: relative;
  top: 100%;
  left: 53%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  line-height: 12vw;
  color: rgba(0, 0, 0, 0.79);
  text-align: center;
  font-family: Cookie;
  margin-top: 5vw;
}

/* sa ubos title */
/* cake vary*/
/* Cake name */
.caken-nidri {
  position: relative;
  top: -8vw;
  left: 50vw;
  transform: translate(-50%, -50%);
  letter-spacing: 0.14em;
  line-height: 6vw;
  color: #505050;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8vw;
  width: 80vw;
  max-width: 100vw;
  font-family: Dosis;
}

/* Cake variety */
.caken-varyni {
  position: relative;
  top: -8vw;
  left: 48.7vw;
  transform: translate(-50%, -50%);
  letter-spacing: 0.14em;
  line-height: 4vw;
  color: #505050;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80vw;
  max-width: 100vw;
  font-family: Dosis;
}

/* Location address */
.addrssbelow {
  position: relative;
  top: -10vw;
  left: 49vw;
  transform: translate(-50%, -50%);
  letter-spacing: 2px;
  line-height: 6vw;
  color: #7c7c7cd8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 800px;
  font-size: 1.4vw;
  font-family: Dosis;
}

/* line for gapping */

  
.for-Lin1 {
  position: absolute;
  top: 79.5vw;
  left: 4.5vw;
  width: 90vw;
  height: auto;
  display: block;
}

.for-Lin2 {
  position: absolute;
  top: 87vw;
  left: 4.5vw;
  width: 90vw;
  height: auto;
  display: block;
}

.for-Lin3 {
  position: absolute;
  top: 102vw;
  left: 4.5vw;
  width: 90vw;
  height: auto;
  display: block;
}

  /* para sa 3 parts na */

  .categories1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    width: 6%;
    height: auto;
    Font-style: Dosis;
  }
  
  .categories1 {
    top:82vw;
    left: 48vw;
    font-family: var(--font-gupter);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e45ed9;
  }
  
  .Promo1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    width: 6%;
    height: auto;
    Font-style: Dosis;
  }
  
  .Promo1 {
    top:82vw;
    left: 27vw;
    font-family: var(--font-gupter);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e45ed9;
  }
  

  .Customize1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    width: 6%;
    height: auto;
    Font-style: Dosis;
  }
  
  .Customize1 {
    top:82vw;
    left: 70vw;
    font-family: var(--font-gupter);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e45ed9;
  }

  .categories1:hover,
.Promo1:hover,
.Customize1:hover {
  transform: scale(1.5);
  color: #ff3dffc5;
}

  /* time date sched of scakes */
  
  .Monday {
    position: absolute;
    top: 90vw;
    left: 42.5vw;
    width: 30vw;
    height: auto;
    color: rgba(87, 87, 87, 0.733);
    font-family: Dosis;
  }
  
  .Saturday {
    position: absolute;
    top: 93.5vw;
    left: 44.7vw;
    width: 30vw;
    height: auto;
    color: rgba(87, 87, 87, 0.733);
    font-family: Dosis;
  }
  
  .Sunday {
    position: absolute;
    top: 97vw;
    left: 45vw;
    width: 30vw;
    height: auto;
    color: rgba(87, 87, 87, 0.733);
    font-family: Dosis;
  }
  
  
  /* join us dapit*/
  
  .JoinUs {
    position: absolute;
    top: 103vw;
    left: 4.5vw;
    width: 90vw;
    height: auto;
    font-size: 1.2vw;
    color: rgba(0, 0, 0, 0.733);
    text-align: center;
    letter-spacing: 0.2vw;
    font-family: Dosis;
  }
  
  /* special cake offer */
  
  .special-cake-offer {
    position: absolute;
    top: 110.4vw;
    left: 43.5vw;
    color: rgba(0, 0, 0, 0.733);
    text-align: center;
    font-family: Dosis;
    font-size: 1.5vw;
    height: auto;
    border: 1px solid #363636;
    border-radius: 1vw;
    padding: 1.7vw;
  }

  .special-cake-offer:hover
  {
    color: #ffffffc5;
    background-color: #424242ee;
    
  }
  
  .sco1 {
    cursor: pointer;
    font-family: Dosis;
  }
  
  
  /*Event images*/
  .event-cakes {
    position: absolute;
    width: 110vw;
    height: auto;
    display: block;
    overflow: hidden;
    top: 117vw;
    left: -11.5vw;
  }
  
  .wedding-cake {
    position: absolute;
    height: auto;
    width: 30vw;
    top: 140vw;
    left: 35vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#f1f1f1;
    border: 3px solid #ffffff41;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.096);
    padding: 2vw;
  }

  .wedding-cake:hover
  {
  background-color: #bbbbbb8a;
  color:white;
  }
  /* Quote/tagline */
/*JM NIIIASDDDD WJASDPOAJSDKA */

 /* Sweetness in every */
.sweetness-in-every {
  position: absolute;
  font-size: 4vw;
  font-family: Cookie;
  color: #ffc0cba9;
  text-align: left;
  display: flex;
  align-items: center;
  width: 70vw;
  height: auto;
  top: 172vw;
  left: 20vw;
}

/* APRAA SA LAYNNNN */
.PLine1,
.PLine2,
.PLine3 {
  position: absolute;
  width: 90vw;
  height: auto;
  display:block;
  background-color: #ffc0cba9;
  top: 28vw;
  left: 5vw;
  height: 0.4vw;
}

.PLine1 {
  top: 178vw;
}

.PLine2 {
  top: 185vw;
}

.PLine3 {
  top: 225vw;
}

.Categ-Big {
  position: absolute;
  top: 179.5vw;
  left: 25vw;
  font-size: 4vw;
  margin: auto;
  letter-spacing: 4vw;
  font-family:Dosis;
}

/*categories na naay lami na cake */
.Cake-C {
  position: absolute;
  top: 190vw;
  left: 8vw;
  width: 21vw;
  display: block;
  height: auto;
}
.Caketxt
{
  z-index: 1;
  position: absolute;
    top: 216vw;
    left: 15vw;
    width: 10vw;
    height: auto;
    font-family: Charm;
    color: white;
}
.Pastrien-C {
  position: absolute;
  top: 190vw;
  left: 40vw;
  width: 21vw;
  display: block;
  height: auto;
}
.Pastriestxt
{
  z-index: 1;
  position: absolute;
    top: 216vw;
    left: 44.5vw;
    width: 10vw;
    height: auto;
    font-family: Charm;
    color: white;
}
.Bread-C {
  position: absolute;
  top: 190vw;
  left: 71vw;
  width: 21vw;
  display: block;
  height: auto;
}
.Breadtxt
{
  z-index: 1;
  position: absolute;
    top: 216vw;
    left: 77.7vw;
    width: 10vw;
    height: auto;
    font-family: Charm;
    color: white;
}

/* more sa pinakalast */
.news-events {
  position: absolute;
  font-family: cormorant;
  color: #223131;
  display: flex;
  align-items: center;
  height: auto;
}
.news-events {
  top: 227vw;
  left: 41vw;
  font-size: 3vw;
  width: 48vw;
}
.keep-up-to {
  position: absolute;
  top: 230.5vw;
  left: 22vw;
  font-size: 1.5vw;
  width: 60vw;
  color: #223131;
  font-family: cormorant;
}

/* N1-3 layers of images */

.N1 {
  position: absolute;
  top: 235vw;
  left: 8vw;
  width: 21vw;
  height: auto;
  display: block;
}

.N2 {
  position: absolute;
  top: 235vw;
  left: 40vw;
  width: 21vw;
  display: block;
  height: auto;
}

.N3 {
  position: absolute;
  top: 235vw;
  left: 71vw;
  width: 21vw;
  display: block;
  height: auto;
}

/* mga info na gi sulat under sa iamges*/

.Info1
{
  position: absolute;
  top: 256vw;
  left: 8vw;
  font-size: 1.5vw;
  height: auto;
  width: 60vw;
  color: #161616e7;
  font-family: cormorant;
}
.Date1 
{
  position: absolute;
  top: 257.8vw;
  left: 8vw;
  font-size: 1.2vw;
  width: 60vw;
  color: #161616e7;
  font-family: cormorant;
  color:gray;
}

.Info2
{
  position: absolute;
  top: 256vw;
  left: 40vw;
  font-size: 1.5vw;
  width: 22vw;
  color: #161616e7;
  font-family: cormorant;
}
.Date2 
{
  position: absolute;
  top: 260.2vw;
  left: 40vw;
  width: 50vw;
  color: #161616e7;
  font-family: cormorant;
  color:gray;
}

.Info3
{
  position: absolute;
  top: 256vw;
  left: 71vw;
  width: 22vw;
  color: #161616e7;
  font-family: cormorant;
}
.Date3
{
  position: absolute;
  top: 262.5vw;
  left: 71vw;
  width: 10vw;
  color: #161616e7;
  font-family: cormorant;
  color:gray;
}

.BLine4 {
  position: absolute;
  width: 92vw;
  left: 3vw;
  background-color: #2c2c2ca8;
  height: 0.3vw;
  top: 267vw
}

/* jaijai push nnno */
.locpound {
  position: absolute;
  top: 273vw;
  left: 20vw;
  letter-spacing: 0.14em;
  line-height: 0;
  color: #5a5a5a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 59vw;
  height: auto;
  text-align: center;
}
.numts {
  position: absolute;
  top: 276vw;
  left: 20vw;
  letter-spacing: 0.14em;
  line-height: 0;
  color: #5a5a5a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 59vw;
  height: auto;
  text-align: center;
}
.dates {
  position: absolute;
  top: 278.5vw;
  left: 20vw;
  letter-spacing: 0.14em;
  line-height: 0;
  color: #5a5a5a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 59vw;
  height: auto;
  text-align: center;
}

.find-us,
.links {
  position: absolute;
  top: 300vw;
  left: 40vw;
  line-height: 5;
}
.links {
 
  top: 285vw;
  left: 48vw;
}

.find-us {
  text-decoration: underline;

  top: 280vw;
  left: 47.5vw;
}


.BLine5 {
  position: absolute;
  width: 92vw;
  left: 3vw;
  background-color: #2c2c2cc2;
  height: 0.2vw;
  top: 296vw
}

.Subs {
  position: absolute;
  top: 304vw;
  left: 40vw;
  font-style: Semibold;
  letter-spacing: 0.40em;
}

.sign-up-with
 {
  position: absolute;
  top: 309vw;
  left: 24vw;
  letter-spacing: 0.14em;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54vw;
  height: auto;
}

.we-respect-your {
  position:absolute;
  top: 320vw;
  left: 45vw;
  font-size: 1.2vw;
  color: #5a5a5a;
  width: 40%;
  height: auto;
}
.sign-up,
.your-email-here,
.zts-techdev-we {
  position: absolute;
  letter-spacing: 0.14em;
  display: block;
  align-items: center;
}

.sign-up {
  cursor: pointer;
  top: 314.1vw;
  left: 60vw;
  justify-content: center;
  width: 10vw;
  height: 3.6vw;
  border:2px solid #ff65f29a;
  border-radius: 1vw;
}

.sign-up:hover
{
  background-color: #ff65f29a;
}

.zts-techdev-we {
  top: 326.5vw;
  left: 38vw;
  color: #8c8c8c;
  text-align: left;
  width: 30vw;
  height: 1vw;
}

.sign-up:hover
{
  background-color: #ff65f29a;
  color:white;
}
.rectangle-input {
  position: absolute;
  top: 314.1vw;
  left: 31.5vw;
  border-radius: 1vw;
  display: block;
  box-sizing: border-box;
  width: 28vw;
  height: auto;
  padding: 1vw;
}
.BLine6 {
  position: absolute;
  width: 92vw;
  left: 3vw;
  height: 2px;
  background-color: #030303f5;
  margin: 2em auto;
  height: 0.2vw;
  top: 325vw
}

