.backg {
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: rgb(233, 187, 210);
  color: #d6aeae;
}
.ZTSL,
.SL {
  position: absolute;
  top: 9vw;
  left: 30%;
  width: 12%;
  height: 25%;
  object-fit: cover;
}
.SL{
  position: absolute;
  top: 10vw;
  left: 50%;
  width: 15%;
  height: 18%;
}
.tagline{
  position: absolute;
  top: 3vw;
  left: 28%;
  font-size: 2vw;
  font-style: Dela Gothic One;
  color: white;
}
.line1 {
  position: absolute;
  height: 0.1vw;
  top: 24vw;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  color: #000000;
}
.vision{
  position: absolute;
  top: 30vw;
  left: 10%;
  width: 30%;
  font-size: 1.20vw;
  font-style: dosis;
  color: black; 
  text-align: justify;
}
.vision1{
  position: absolute;
  top: 26vw;
  left: 22%;
  width: 30%;
  font-size: 1.50vw;
  font-style: dosis;
  color: black; 
}
.mission{
  position: absolute;
  top: 30vw;
  left: 60%;
  width: 30%;
  font-size: 1.20vw;
  font-style: dosis;
  color: black;
  text-align: justify;
}
.mission1{
  position: absolute;
  top: 26vw;
  left: 71%;
  width: 23%;
  font-size: 1.50vw;
  font-style: dosis;
  color: black;
}
