
.Line1
{  
    position:absolute;
    width: 6.3vw;  
    background-color: #70432E;  
    top: 0vw;
    left: 0vw;
    height: 45.72vw;
    }  

  .home1 {
    position: absolute;
    top: 8vw;
    left: 1.7vw;
    color: #f1f1f1;
  }
  .customize1 {
    position: absolute;
    top: 12vw;
    left: 0.2vw;
    color: white;
  }
  .products1 {
    position: absolute;
    top: 16vw;
    left: 0.5vw;
    width: 2vw;
    color: #f1f1f1;

  }
  .find1us1 {
   position: absolute;
    top: 20vw;
    left: 1vw;
    width: 5vw;
    color: #f1f1f1;

  }
  .about-us1 {
    position: absolute;
    width: 5vw;
    top: 24vw;
    left: 0.5vw;
    color: #f1f1f1;
  }
  .bckg {
    position: absolute;
    top: 0vw ;
    left: 6.5vw;
    display: block;
    width: 40.5vw;
    height: 45.5vw;
  }
  .back2
{  
    position:absolute;
    width: 53vw;  
    background: radial-gradient( #a15f40 30%, #b37f67 50%,  #b3846d 60%, #bb9f92 100%);  
    top: 0vw;
    left: 47vw;
    height: 45.75vw;
    }  
    .special-for-special {
      position: absolute;
      top: 6vw;
      left: 8vw;
      width: 30vw;
      font-family: var(--font-cookie);
      color: black;
      font-family: cookie;
    }
    .this-cake {
      position: absolute;
      top: 10vw;
      left: 9vw;
      width: 30vw;
      color: black;
  
    }
    .logoo {
      position: absolute;
      top: 0vw ;
      left: 40vw;
      width: 18vw;
      height: 150px;
      font-size: 12px;
    }
    .choco {
      position:absolute;
      top: 10vw ;
      left: 35vw;
      width: 40vw;
      height: auto;
      display: block;
    }
    .buy {
      position: absolute;
      top: 25vw;
      left: 17vw;
      padding: 1vw 3vw;
      border-radius: 1.2vw;
      color: white;
      background-color: black;
    }
    .est1{
      position: absolute;
        top: -180px ;
        left: 720px;
        width: 250px;
        height: 150px;
        font-size: 8px;
        color: black;
     }
  