
.Line1
{  
    position:absolute;
    width: 6.3vw;  
    background-color: #70432E;  
    top: 0vw;
    left: 0vw;
    height: 50.4vw;
    }  

  .home1 {
    cursor: pointer;
    border-radius: 1vw;
    padding: 0.5vw;
    position: absolute;
    top: 8vw;
    left: 1vw;
    color: #f1f1f1;
  }
  .customize1 {
    cursor: pointer;
    border-radius: 1vw;
    position: absolute;
    padding: 0.5vw;
    top: 12vw;
    left: -0.3vw;
    color: white;
  }
  .products1 {
    cursor: pointer;
    border-radius: 1vw;
    position: absolute;
    padding: 0.6vw;
    top: 16vw;
    left: -0.1vw;
    width:6.38vw;
    color: #f1f1f1;

  }
  .find1us1 {
    border-radius: 1vw;
    padding: 0.5vw;
    cursor: pointer;
   position: absolute;
    top: 20vw;
    left: 0.5vw;
    width: 5vw;
    color: #f1f1f1;

  }
  .about-us1 {
    cursor: pointer;
    border-radius: 1vw;
    padding: 0.5vw;
    position: absolute;
    width: 6.1vw;
    top: 24vw;
    left: 0.1vw;
    color: #f1f1f1;
  }

  .home1:hover, .customize1:hover, .products1:hover, .find1us1:hover, .about-us1:hover
  {
    background-color: rgba(216, 216, 216, 0.493);
    
  }

  .bckg {
    position: absolute;
    top: 0vw ;
    left: 6.5vw;
    display: block;
    width: 40.5vw;
    height: 50.4vw;
  }
  .back2
{  
    position:absolute;
    width: 53vw;  
    background: radial-gradient( #a15f40 30%, #b37f67 50%,  #b3846d 60%, #bb9f92 100%);  
    top: 0vw;
    left: 47vw;
    height: 50.4vw;
    }  
    .special-for-special {
      position: absolute;
      top: 7vw;
      left: 8vw;
      width: 30vw;
      font-family: var(--font-cookie);
      color: black;
      font-family: cookie;
    }
    .this-cake {
      position: absolute;
      top: 14vw;
      left: 14vw;
      width: 30vw;
      color: black;
  
  
    }
    .logoo {
      position: absolute;
      top: 0vw ;
      left: 40vw;
      width: 18vw;
      height: 10vw;
    }
    .choco {
      position:absolute;
      top: 17vw ;
      left: 35vw;
      width: 40vw;
      height: auto;
      display: block;
    }
    .buy {
      position: absolute;
      top: 30vw;
      left: 17vw;
      padding: 1vw 3vw;
      border-radius: 1.2vw;
      color: white;
      background-color: black;
    }
    .est1{
      position: absolute;
        top: 4.5vw;
        left: 55vw;
        width: 10vw;
        height: auto;
        color: black;
     }
  

     /*FANCY LOADERRRR*/

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f79dff62;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
.arrow-icon {
  position: absolute;
  top: 24vw;
  left: 95vw;
  width: 3vw;
  height:auto;
}
.cake-slides-1 {
  position: absolute;
  top: 48vw;
  left: 48vw;
  width: 0.5vw;
  height:auto;
}
.cake-slides-2 {
  position: absolute;
  top: 48vw;
  left: 49vw;
  width: 0.5vw;
  height:auto;
}
.cake-slides-3 {
  position: absolute;
  top: 48vw;
  left: 50vw;
  width: 0.5vw;
  height:auto;
}
.cake-slides-4 {
  position: absolute;
  top: 48vw;
  left: 51vw;
  width: 0.5vw;
  height:auto;
}