body{

    background-color: #ffeafcbd;
}
/* Buttons */
.Home{
  position:absolute;
  height: 2vw;
  width: 3.7vw;
  top: 6vw;
  left: 6vw;
  font-family: Dosis;
  color: #030303;
}
.Aboutus{
  position:absolute;
  height: 2vw;
  width: 6vw;
  top: 6vw;
  left: 18vw;
  font-family: Dosis;
  color: #030303;
}
.Products{
  position:absolute;
  height: 2vw;
  width: 6.5vw;
  top: 6vw;
  left: 69vw;
  font-family: Dosis;
  color: #030303;
}
.Customize{
  position:absolute;
  z-index: 1vw;
  height: 2vw;
  width: 7.8vw;
  top: 6vw;
  left: 85vw;
  font-family: Dosis;
  color: #030303;
}
.Home:hover, .Aboutus:hover, .Products:hover, .Customize:hover {
  background-color: #ff85f58a;
  border: 1px solid var(--color-black);
  border-radius: 6px;
}
 /*Logo ni dri*/
  
 .s-cakes-logo-1 {
    position: absolute;
    left: 0vw;
    z-index: 1;
  }
  .s-cakes-logo-1 {
    top: 2.5vw;
    left: 42vw;
    width: 13vw;
    height: 8vw;
    display: block;
   
  }
  .est-2013 {
    position: absolute;
    top: 6.2vw;
    left: 54vw;
    color: #000000;
    width: 5vw;
    height: 9vw;
  }

  
  /*Background*/         

   .FindUsBackground1 {
  position: absolute;
   height: 5vw;
   width: calc(100% + 0vw);
   top: 0vw;
   right: 0vw;
   bottom: 0vw;
   left: 0vw;
   display: block;
   }

   .FindUsBackground2 {
    position: absolute;
     height: 16vw;
     width: calc(100% + 0vw);
     top: 6vw;
     right: 0vw;
     bottom: 0vw;
     left: 0vw;
     display: block;
     }

    /*Title*/ 
.store-location {
  position: absolute;
  top: 13vw;
  left: 33vw;
  right: 23vw; 
  color:#ffffff;
  font-family: Dosis;
} 
/* Place pic*/
.Place{
  position: absolute;
   height: 25vw;
   width: 35vw;
   top: 28.5vw;
   right: 60vw;
   bottom: 69vw;
   display: block;
   }
/* Place Tile*/
   .Placetext {
    position: absolute;
    top: 29vw;
    left: 17.5vw;
    color:#ffffff;
    font-family:Dosis;
  } 
  /* Place Info*/
  .Placeinfo {
    position: absolute;
    top: 33vw;
    left: 6vw;
    width: 30vw;
    text-align: justify;
    color:#ffffff;
    font-family:Dosis;
  } 
   /*Info*/
   .Info {
    position: absolute;
    top: 56vw;
    left: 17.5vw;
    color:#000000;
    font-family:Dosis;
  } 
  /*Infotext*/
  .Infotext {
    position: absolute;
    top: 60vw;
    left: 6vw; 
    width: 30vw;
    color:#2d2d2d;
    font-family:Dosis;
    text-align: justify;
  } 
   /*Subscribe*/
   .Subscribe {
    position: absolute;
    top: 71vw;
    left: 43vw; 
    color:#000000;
    font-family:Dosis;
  } 
  /*Signinfo*/
  .Signinfo {
    position: absolute;
    top: 75vw;
    left: 32vw; 
    color:#000000;
    font-family:Dosis;
  } 
    /*Signbutton*/
    .signup-btn {
      position: absolute;
      display: inline-block;
      padding: .7vw 1.4vw;
      font-size: 1vw;
      font-weight: bold;
      text-align: center;
      top: 77.1vw;
      left: 53vw;
      text-decoration: none;
      border-radius: .5vw;
      border: none;
      background-color: #f880b8;
      color: #ffffff;
      cursor: pointer;
    }
    
    .signup-btn:hover {
      background-color: #Ffbfcac2;
    } 
     /*We respect your privacy*/
  .WRYP {
    position: absolute;
    top: 80vw;
    left: 43.5vw;
    color:#000000;
    font-family:Dosis;
  }
   /*Map*/
  iframe{
    position: absolute;
    width: 55vw;
    height: 37vw;
    top: 28.5vw;
    bottom: 40vw;
    left: 42vw;
  }
  /*SignUp Box*/
  input{
    position: absolute;
    width: 14vw;
    height: 2.2vw;
    top: 77.1vw;
    left: 38vw;
  }

    
  /*loader*/
  #loader {
    background-image: url(./gif/cupcake.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 231, 235, 0.658); /* Set the background color to pink */
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }