<<<<<<< HEAD
<<<<<<< HEAD
.boader {
    position: absolute;
    height: 4vw;
    width: 10vw;
    background-color:white;
   
}
.shop {
    position: absolute;
    top: 1.4vw;
    left: 75vw;
    font-size: 1.20vw;
    font-style: dosis;
    color: rgb(0, 0, 0); 
    text-align: justify;
  
}

.search {
    position: absolute;
    top: 1.3vw;
    left: 73vw;
    size: -5vw;
    width: 1.5vw;
}
.marble {
    position: absolute;
    top: 4vw;
    left: 0vw;
    height: 15vw;
    width: 100vw;
}
.trans {
    position: absolute;
    top: 4vw;
    height: 15vw;
    width: 50vw;
    left: 25vw;
    background-color:rgba(15, 15, 15, 0.432);
}

.functionbut
 {
    position: absolute;
    top: 1vw;
    height: 2vw;
    width: 6.5vw;
    left: 72vw;
    background-color:rgba(255, 255, 255, 0.432);
    border-radius: 2vw;
}
.functionbut:hover
{
    background-color: rgba(255, 192, 203, 0.534);
}
.about {
    position: absolute;
    top: 9vw;
    left: 32vw;
    font-size:5vw;
    font-style: charm;
    color: rgb(255, 255, 255); 
    text-align: justify;
}
.tagline {
        position: absolute;
        top: 15vw;
        left:33vw;
        font-size: 1.5vw;
        font-style: Dela Gothic One;
        color: white;
}
.boader2 {
    position: absolute;
    top:19vw;
    height: 26.75vw;
    width: 10vw;
    background-color:white;
}
.history {
    position: absolute;
    top: 23vw;
    left: 13vw;
    height: 18vw;
    width: 15vw;
}
.vision {
    position: absolute;
    top: 23vw;
    left: 43vw;
    height: 18vw;
    width: 15vw;
}
.mission {
    position: absolute;
    top: 23vw;
    left: 72vw;
    height: 18vw;
    width: 15vw;
}
.Habc {
    position: absolute;
    top: 42vw;
    left:13vw;
    font-size: 1vw;
    font-style: dosis;
    color: rgb(0, 0, 0);
}
.Vabc {
    position: absolute;
    top: 42vw;
    left:43vw;
    font-size: 1vw;
    font-style: dosis;
    color: rgb(0, 0, 0);
}
.Mabc {
    position: absolute;
    top: 42vw;
    left:72vw;
    font-size: 1vw;
    font-style: dosis;
    color: rgb(0, 0, 0);
=======
=======
>>>>>>> 9a4a920da7720cb08a5ac661e49389e00be875dc
.boader {
    position: absolute;
    height: 4vw;
    width: 10vw;
    background-color:white;
   
}
.shop {
    position: absolute;
    top: 1.4vw;
    left: 75vw;
    font-size: 1.20vw;
    font-style: dosis;
    color: rgb(0, 0, 0); 
    text-align: justify;
  
}

.search {
    position: absolute;
    top: 1.3vw;
    left: 73vw;
    size: -5vw;
    width: 1.5vw;
}
.marble {
    position: absolute;
    top: 4vw;
    left: 0vw;
    height: 15vw;
    width: 100vw;
}
.trans {
    position: absolute;
    top: 4vw;
    height: 15vw;
    width: 50vw;
    left: 25vw;
    background-color:rgba(15, 15, 15, 0.432);
}

.functionbut
 {
    position: absolute;
    top: 1vw;
    height: 2vw;
    width: 6.5vw;
    left: 72vw;
    background-color:rgba(255, 255, 255, 0.432);
    border-radius: 2vw;
}
.functionbut:hover
{
    background-color: rgba(255, 192, 203, 0.534);
}
.about {
    position: absolute;
    top: 9vw;
    left: 32vw;
    font-size:5vw;
    font-style: charm;
    color: rgb(255, 255, 255); 
    text-align: justify;
}
.tagline {
        position: absolute;
        top: 15vw;
        left:33vw;
        font-size: 1.5vw;
        font-style: Dela Gothic One;
        color: white;
}
.boader2 {
    position: absolute;
    top:19vw;
    height: 26.75vw;
    width: 10vw;
    background-color:white;
}
.history {
    position: absolute;
    top: 23vw;
    left: 13vw;
    height: 18vw;
    width: 15vw;
}
.vision {
    position: absolute;
    top: 23vw;
    left: 43vw;
    height: 18vw;
    width: 15vw;
}
.mission {
    position: absolute;
    top: 23vw;
    left: 72vw;
    height: 18vw;
    width: 15vw;
}
.Habc {
    position: absolute;
    top: 42vw;
    left:13vw;
    font-size: 1vw;
    font-style: dosis;
    color: rgb(0, 0, 0);
}
.Vabc {
    position: absolute;
    top: 42vw;
    left:43vw;
    font-size: 1vw;
    font-style: dosis;
    color: rgb(0, 0, 0);
}
.Mabc {
    position: absolute;
    top: 42vw;
    left:72vw;
    font-size: 1vw;
    font-style: dosis;
    color: rgb(0, 0, 0);
<<<<<<< HEAD
>>>>>>> 9a4a920da7720cb08a5ac661e49389e00be875dc
=======
>>>>>>> 9a4a920da7720cb08a5ac661e49389e00be875dc
}