

.Lpic {
    position: absolute;
    top: 8vw;
    left: 49vw;
    width: 40vw;
    display: fill;
    box-shadow: 0 4px 8px 0 #3535357a, 0 6px 20px 0 #3535357a;
    height: 30vw;  
}

.squre{
    position: absolute;
    box-shadow: 0 4px 8px 0 #3535357a, 0 6px 20px 0 #3535357a;
    left: 11vw;
    height: 30vw;
    top: 8vw;
    width: 38vw;
    background-color: #ffffff4b;
    
}
.logo{
    position: absolute;
    top: 14vw;
    left: 60vw;
    width: 16vw;

}
.S-UP{
    cursor: pointer;
    position: absolute;
    left: 35vw;
    top: 10vw;
    font-style: dosis;
    color:#1f1f1fe3;
}

.S-IN{
    cursor: pointer;
    position: absolute;
    left: 19vw;
    top: 10vw;
    font-style: dosis;
    color:1f1f1fe3;
}

.S-IN:hover, .S-UP:hover
{
     text-decoration: underline;
    color: pink;
}
/* sign in and out */

.User-In {
   
    position: absolute;
    top: 18vw;
    left: 15vw;
    border-radius: 1vw;
    display: block;
    box-sizing: border-box;
    width: 28vw;
    height: auto;
    padding: 1vw;
}

.Passwrd-In {
  
    position: absolute;
    top: 23vw;
    left: 15vw;
    border-radius: 1vw;
    display: block;
    box-sizing: border-box;
    width: 28vw;
    height: auto;
    padding: 1vw;
}



/* showpassw*/
.chkbox
{
    position: absolute;
    top: 28vw;
    left: 15vw;
    display: block;
    border: 1px solid black;
}