
.cake-main {
  z-index: -3;
  position: absolute;
  height: 54.78vw;
  top: 0vw;
  left: 0vw;
  display: block;
  width: 100vw;
  }
  
  .Container {
    width: 100%;
    min-width: 95%;
    height: 100vw;
    margin: auto;
    
  }
  .html
  {
    height: 50vw;
    margin: auto;
  }
  